<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Header</title>
</head>
<body>
<div class="logo-img">
  <a href="index.html" class="logo"><img src="/assets/images/icon3.png"></a>
</div>

<nav>
  <ul class="menu">
   <li><a href="island.html">Destinations</a></li>
   <li><a href="whattodo.html">What to do</a></li>
   <li><a href="aboutpage.html">About</a></li>
   <li><a href="faqspage.html">FAQs</a></li>
   <li>
       <a href="#"><fa-icon [icon]="['fas', 'magnifying-glass']"></fa-icon></a></li>
  </ul>

  <select name="languages" id="languages">
    <option value="english">English</option>
    <option value="spanish">Español</option>
    <option value="german">Deutsch</option>
    <option value="french">Français</option>
  </select>
</nav>
</body>
</html>
