h1 {
  font-size: 18pt;
  margin-bottom: 1em;
  margin-top: 1em;
}

h2 {
  font-size: 16pt;
}

h3 {
  font-size: 14pt;
}

form {
  margin-top: 1em;
}

ion-button {
  margin-top: 3em;
  text-transform: uppercase;
  font-size: 12pt;
}

ion-content {
  --padding-bottom: 2em;
  --padding-end: 2em;
  --padding-start: 2em;
  --padding-top: 2em;
}
