@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');

header {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(0,0,0,0.05);
}

.menu {
  display: flex;
  justify-content: right;
}

.menu li{
  margin-top: 0;
  margin-left: 1.5em;
  margin-right: 1.5em;
  display: flex;
  text-transform: uppercase;
}

.menu li a{
  font-family: 'Roboto', monospace;
  font-style: normal;
  font-weight: 500;
  font-size: 11pt;
  color: #000000;
  text-decoration: none;
}

.menu li a:hover {
  color: rgba(7, 56, 91, 0.55);
}

#header-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bars-dropdown {
  display: none;
  cursor: pointer;
  margin-right: 2em;
  margin-left: 2em;
}

.bars-dropdown > button {
  border: none;
  background-color: inherit;
  font-size: 1.25em;
}

.mat-menu > button {
  text-decoration: none;
  font-family: "Roboto", monospace;
  text-transform: uppercase;
}

.search-icon {
  display: none;
}

.search-icon a {
  color: black;
  text-decoration: none;
}

.mat-menu-item {
  background-color: rgb(252, 252, 252);
  text-transform: uppercase;
  font-family: 'Roboto', monospace;
  font-style: normal;
  font-weight: 500;
  font-size: 10pt;
}

.mat-menu-item a {
  display: block;
  text-decoration: none;
  color: black;
  font-style: normal;
}

#destinations .mat-menu-item {
  font-size: 8pt;
}

.select {
  margin: 1em 3em;
}

.header-icons {
  display: flex;
  flex-direction: row;
}

.header-icons i {
  padding: 1em;
}

#languages {
  height: 1.5em;
  width: 10em;
  text-transform: uppercase;
  font-family: 'Roboto', monospace;
  margin-right: 2em;
  margin-left: 1em;
}

@media (max-width: 1000px) {
  #header-nav {
    display: none;
  }

  .bars-dropdown {
    display: block;
  }

  .search-icon {
    display: flex;
    align-items: center;
  }


}

