<ion-content fullscreen="true">
  <ion-card class="ion-no-margin">
    <ion-card-header>
      <ion-card-title>Welcome</ion-card-title>
      <ion-img src="https://firebasestorage.googleapis.com/v0/b/canaryadventure-pwm.appspot.com/o/icon3.png?alt=media&token=8f33a373-47f6-4f09-a726-e7e8143b7d4d">
      </ion-img>
    </ion-card-header>
    <ion-card-content>
      Discover Canary Islands, experiences, places and recommendations you can't miss.
      <div class="col" id="buttons">
        <ion-button expand="block" color="primary" size="large" routerLink="/login">Log in</ion-button>
        <div id="sign-up-btn">
          Don't have an account?
          <ion-button expand="block" color="secondary" size="large" routerLink="/signup">Sign up</ion-button>
        </div>
      </div>
    </ion-card-content>
    <div id="continue-label" routerLink="/tabs/home">
      Continue without registration
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </div>
  </ion-card>
</ion-content>
