<ion-header>
  <ion-toolbar>
    <ion-title>My Favourites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <app-intro-title [data]=favIntroBG></app-intro-title>
  <ion-list>
    <ion-card *ngFor="let favItem of favList">
      <a [routerLink]="'..' + favItem.namePage"><!-- href="{{favItem.namePage}}"-->
        <ion-item-sliding>
          <ion-item>
            <ion-card-header>
              <ion-card-subtitle></ion-card-subtitle>
              <ion-card-title>{{favItem.namePage}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              {{favItem.description}}
            </ion-card-content>
          </ion-item>
        </ion-item-sliding>
      </a>
    </ion-card>
  </ion-list>
</ion-content>
