<ion-header>
  <ion-toolbar>
    <ion-title>My Favourites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <app-intro-title [data]=favIntroBG></app-intro-title>
  <ion-list>
    <ion-card> <!--*ngFor="let favItem of favList"-->
      <a routerLink="../tabs/gran-canaria"><!-- href="{{favItem.namePage}}"-->
        <!--<img src="https://image.jimcdn.com/app/cms/image/transf/none/path/sa6549607c78f5c11/image/iccdf68d45a3d8981/version/1584891535/best-beaches-in-spain-platja-de-alcudia-beach-palm-trees-in-mallorca-copyright-holbox-european-best-destinations.jpg"/>
        -->
        <ion-item-sliding>
          <ion-item>
            <ion-card-header>
              <ion-card-subtitle></ion-card-subtitle>
              <ion-card-title>Gran Canaria</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <!--{{favItem.description}}-->
            </ion-card-content>
          </ion-item>
        </ion-item-sliding>
      </a>
    </ion-card>

    <ion-card> <!--*ngFor="let favItem of favList"-->
      <a routerLink="../tabs/lanzarote>"> <!--"href="{{favItem.namePage}}">
        <img src="https://image.jimcdn.com/app/cms/image/transf/none/path/sa6549607c78f5c11/image/iccdf68d45a3d8981/version/1584891535/best-beaches-in-spain-platja-de-alcudia-beach-palm-trees-in-mallorca-copyright-holbox-european-best-destinations.jpg"/>
        -->
        <ion-item-sliding>
          <ion-item>
            <ion-card-header>
              <ion-card-subtitle></ion-card-subtitle>
              <ion-card-title>Lanzarote</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <!--{{favItem.description}}-->
            </ion-card-content>
          </ion-item>
        </ion-item-sliding>
      </a>
    </ion-card>
  </ion-list>

</ion-content>
