<app-intro-title [data]="introTitle"></app-intro-title>
<main>
  <app-island-description [description]="islandDescription"></app-island-description>
  <app-island-what-to-do title="WHAT TO DO" [content]="islandWhatToDo"></app-island-what-to-do>
  <app-island-where-to-stay title="WHERE TO STAY" [content]="islandWhereToStay"></app-island-where-to-stay>
  <app-island-how-to-get-there title="HOW TO GET THERE" [description]="islandHowToGetThereDescription" [content]="islandHowToGetThereContent">
  </app-island-how-to-get-there>
</main>
