<section *ngFor="let inform of data | async">
  <h3>{{inform.title}}</h3>
  <div class="related-info">
    <div class="left-panel">
      <p *ngFor="let p of inform.sections">
        {{ p }}
      </p>
      <div>
        <fa-icon [icon]="['fas', 'location-dot']"></fa-icon>
        {{inform.location}}
      </div>
      <div>
        <fa-icon [icon]="['fas', 'at']"></fa-icon>
        {{inform.email}}
      </div>
      <div>
        <fa-icon [icon]="['fas', 'phone']"></fa-icon>
        {{inform.phone}}
      </div>
    </div>
    <figure class="location-map">
      <img [src]='inform.image'>
    </figure>
  </div>
</section>
