article {
  text-align: justify;
  text-justify: inter-word;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', monospace;
  font-weight: 300;
}

article p {
  line-height: 1.75;
  font-size: 12pt;
  font-family: "Roboto", monospace;
}

h3 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  font-family: "Roboto", monospace;
  font-weight: 400;
  font-size: 20pt;
}
