h1 {
  font-size: 16pt;
}

ion-content {
  --padding-bottom: 2em;
  --padding-end: 2em;
  --padding-start: 2em;
  --padding-top: 2em;
}

form {
  margin-top: 1em;
}

ion-button {
  margin-top: 2em;
}
