<section class="home_newsletter_section">
  <div class="newsletter_txt">
      <h2>
          Newsletter
      </h2>
      <p>
          Usu nullam dolorum quaestio ei, sit vidit facilisis ea. Per ne impedit iracundia neglegentur. Consetetur neglegentur eum ut, vis animal legimus inimicus id.
      </p>
      <button onclick="/newsletter">
          REGISTER
      </button>
  </div>
  <div class="img_newsletter_column">
      <img
              class="img_newsletter"
              src="https://i2-prod.mirror.co.uk/incoming/article12454059.ece/ALTERNATES/s615b/0_MAIN-Canary-Islands-Gran-Canaria-Puerto-Rico-Playa-de-Los-Amadores.jpg">
  </div>
</section>